$text-color: #252B42;
$second-text-color: #737373;
$light-text-color: #FFFFFF;
$primary-color: #D0A144;
$secondary-color-2: #784F33;
$secondary-color-4: #295C7A;
$dark-background-color: #252B42;
$light-background-color: #FFFFFF;
$muted-color: #BDBDBD;
$primary-color-2: #AA8038;

$service-border: #E2E2E2;
$whoweare-block-bg: #DEDEDE;
$meet-bg: #FAFAFA;
$input-bg: #F9F9F9;
