@media print {
  @page {
    margin: 2cm;
  }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }


  h1 {
    font-size: 28pt;
  }

  h2 {
    font-size: 24pt;
  }

  h3 {
    font-size: 20pt;
  }

  h4 {
    font-size: 18pt;
  }

  h5 {
    font-size: 16pt;
  }

  h6, p, label, a {
    font-size: 14pt;
  }


  .header {
    width: 100%;
    @include flex-center;
    margin-bottom: 2cm;

    &__nav {
      width: 100%;
      @include flex-start;
    }

    &__list, &__img-row {
      display: none;
    }
  }


  .section-main {
    width: 100%;
    @include flex-start;
    background: none;

    &__content-block {
      width: 100%;
      @include flex-start;
      flex-direction: column;
      text-align: left;
    }

    &__title {
      margin-bottom: 0.5cm;
    }

    &__desc {
      @include h4;
      width: 60%;
    }

    &__btns-block {
      display: none;
    }
  }


  .section-clients {
    width: 100%;
    @include flex-center;
    margin-top: 3cm;

    &__block {
      width: 100%;
      @include flex-start;
      flex-direction: column;
      text-align: left;
    }

    &__title {
      margin-bottom: 0.5cm;
    }

    &__desc {
      margin-bottom: 1.2cm;
    }

    &__content-block {
      width: 100%;
      display: grid;
      grid-template-rows: 3cm 3cm;
      grid-template-columns: 7cm 7cm 7cm;
      grid-gap: 1cm;
    }

    &__btns-block {
      display: none;
    }
  }

  .service-item {
    width: 100%;
    height: 100%;
    @include flex-center;
    justify-content: flex-start;
    border: 1px solid $service-border;
    break-inside: avoid;

    &__img {
      width: 1cm;
      height: 1cm;
      margin-left: 0.5cm;
    }

    &__desc {
      @include h6;
      margin-left: 0.3cm;
    }
  }


  .section-whoweare {
    width: 100%;
    @include flex-center;
    margin-top: 2.9cm;

    &__block {
      width: 100%;
      @include flex-center;
      flex-direction: column;
      text-align: center;
    }

    &__title {
      margin-bottom: 0.5cm;
    }

    &__desc {
      width: 80%;
      margin-bottom: 1cm;
    }

    &__content-block {
      width: 100%;
      @include flex-between;
    }

    &__content-video {
      display: none;
    }

    &__content-text {
      width: 100%;
      @include flex-start;
      flex-direction: column;
      text-align: left;
    }

    &__content-title {
      margin-bottom: 0.5cm;
    }

    &__content-desc {
      width: 60%;
    }

    &__content-item {
      width: 100%;
      @include flex-start;
      justify-content: flex-start;
      text-align: left;
      margin-top: 1cm;
      break-inside: avoid;
    }

    &__item-img {
      width: 32px;
      height: 32px;
      margin-right: 20px;
    }

    &__item-title {
      @include h5;
    }
    &__item-desc {
      @include h6;
    }

    &__content-item-text-block {
      @include flex-start;
      flex-direction: column;
    }
  }


  .section-what-say {
    width: 100%;
    @include flex-center;
    margin-top: 3cm;

    &__block {
      width: 100%;
      @include flex-center;
      flex-direction: column;
      text-align: center;
    }

    &__title {
      margin-bottom: 0.5cm;
    }

    &__desc {
      width: 60%;
    }

    &__content-block {
      width: 100%;
      @include flex-between;
      margin-top: 1cm;
    }
  }

  .what-say-item {
    width: 100%;
    @include flex-start;
    margin-left: 1cm;
    margin-right: 1cm;
    break-inside: avoid;

    &__photo {
      display: none;
    }

    &__block {
      @include flex-start;
      flex-direction: column;
      text-align: left;
      margin-left: 0.5cm;
    }
    &__post {
      @include h6;
    }

    &__name, &__post, &__stars {
      margin-bottom: 2mm;
    }
  }


  .section-meet {
    width: 100%;
    @include flex-center;
    margin-top: 3cm;

    &__block {
      width: 100%;
      @include flex-center;
      flex-direction: column;
      text-align: center;
    }

    &__title {
      margin-bottom: 0.5cm
    }

    &__desc {
      width: 60%;
    }

    &__content-block {
      width: 100%;
      @include flex-between;
      margin-top: 1cm;
    }
  }

  .meet-item {
    width: 4cm;
    @include flex-center;
    flex-direction: column;
    break-inside: avoid;

    &__img {
      display: none;
    }

    &__post {
      @include h6;
    }
    &__name {
      @include h5;
    }

    &__post, &__name, &__desc {
      margin-top: 2mm;
    }
  }


  .section-request {
    width: 100%;
    @include flex-center;
    flex-direction: column;
    text-align: left;
    margin-top: 3cm;

    &__desc-container {
      width: 100%;
      @include flex-between;
      margin-bottom: 1cm;
    }

    &__text-block {
      width: 50%;
      @include flex-start;
      flex-direction: column;
    }

    &__title {
      margin-bottom: 0.5cm;
    }

    &__desc {
      width: 80%;
    }

    &__map-block {
      display: none;
    }
  }

  .form-container {
    display: none;
  }


  .footer {
    display: none;
  }
}
